In [3]:
print("Hello World!")

Hello World!

In [4]:
print(75)

75

# Data Types

INTEGER

FLOAT

STRING

BOOLEAN


# Working with variables

In [22]:
person_name = "Muhammad Abdullah Islam"

In [23]:
print(person_name)

Muhammad Abdullah Islam

In [36]:
person_age = 22

In [37]:
print(person_age)

22

In [38]:
print(person_name)
print(person_age)

Muhammad Abdullah Islam
22

In [39]:
print(person_name,"age is",person_age,"year old.")

Muhammad Abdullah Islam age is 22 year old.

# Check types

In [32]:
type(person_age)

int

In [33]:
type(person_name)

str

In [40]:
sentence = """
Name : Muhammad Abdullah Islam
Class : Aetifical Itelligence
"""

In [42]:
print(sentence)

Name : Muhammad Abdullah Islam
Class : Aetifical Itelligence

In [43]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [53]:
name = "muhammad abdllah islam"

In [54]:
name.upper()

'MUHAMMAD ABDLLAH ISLAM'

In [55]:
name = "MUHAMMAD ABDLLAH ISLAM"
name.lower()

'muhammad abdllah islam'

In [56]:
name = "MUHAMMAD ABDLLAH ISLAM"
name.title()

'Muhammad Abdllah Islam'

In [64]:
name = "MUHAMMAD ABDLLAH ISLAM"
classPerson = "Artifical Intellience"
age = 22
percentage = 81
marks = 90
university = "GCUF"
print("Person Name :",name)
print("Class Name :",classPerson)
print("Person age :",age)
print("Person percentage :",percentage)

Person Name : MUHAMMAD ABDLLAH ISLAM
Class Name : Artifical Intellience
Person age : 22
Person percentage : 81

In [65]:
studentData = f"""
studentName : {name}
studentAge : {age}
studentMarks : {marks}
studentUniversity : {university}
"""

In [66]:
print(studentData)

studentName : MUHAMMAD ABDLLAH ISLAM
studentAge : 22
studentMarks : 90
studentUniversity : GCUF

In [67]:
studentData = """
studentName : {}
studentAge : {}
studentMarks : {}
studentUniversity : {}
"""
print(studentData)

studentName : {}
studentAge : {}
studentMarks : {}
studentUniversity : {}

In [69]:
print(studentData.format(name,age,marks,university))

studentName : MUHAMMAD ABDLLAH ISLAM
studentAge : 22
studentMarks : 90
studentUniversity : GCUF

In [72]:
print(f"name is:{name}")

name is:MUHAMMAD ABDLLAH ISLAM